<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-base-200 min-h-screen">
    <header class="navbar bg-base-100 shadow mb-8">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl">Spring Boot + MSAL.js</a>
      </div>
      <nav class="flex-none gap-2">
        <button id="loginButton" class="btn btn-primary" onclick="signIn()">
          Login with Azure AD
        </button>
        <button
          th:if="${user.authenticated}"
          id="refreshTokenButton"
          class="btn btn-secondary"
          onclick="refreshToken()"
        >
          Refresh Token
        </button>
      </nav>
    </header>

    <div class="max-w-4xl mx-auto px-4 flex flex-col gap-8">
      <section
        hx-get="/api/v1/user/me"
        hx-target=".user-info"
        hx-swap="innerHTML"
        hx-trigger="load"
        class="user-info card bg-base-100 shadow p-6"
      >
        <div>Loading User Information...</div>
        <div>...</div>
      </section>

      <section class="card bg-base-100 shadow p-8">
        <div class="mb-4">
          <h2 class="text-2xl font-bold mb-2">Welcome!</h2>
          <p class="text-base-content">
            Hello, this is a simple HTML page served by Spring Boot!
          </p>
        </div>
        <div class="space-y-2">
          <div>
            <span class="font-semibold">User:</span>
            <span th:text="${user.name}" class="badge badge-info"></span>
          </div>
          <div>
            <span class="font-semibold">Authenticated:</span>
            <span
              th:text="${user.authenticated}"
              class="badge badge-success"
            ></span>
          </div>
        </div>
      </section>
      <section class="card bg-base-100 shadow p-8">
        <h2 class="text-2xl font-bold mb-4">All registered users:</h2>
        <div class="user-list">
          <th:block th:replace="~{user/list :: userListFragment}"></th:block>
        </div>

        <button
          hx-get="/api/v1/user/"
          hx-target=".user-list"
          hx-swap="innerHTML"
          class="btn btn-secondary mt-4"
        >
          Reload all users
        </button>
      </section>
      <section class="card bg-base-100 shadow p-8">
        <h2 class="text-2xl font-bold mb-4">Software Engineers:</h2>
        <div class="engineer-list">
          <th:block
            th:replace="~{softwareEngineer/list :: softwareEngineerListFragment}"
          ></th:block>
        </div>
        <button
          hx-get="/api/v1/software-engineers/?page=1"
          hx-target=".engineer-list"
          hx-swap="innerHTML"
          class="btn btn-secondary mt-4"
        >
          Load next page of Software Engineers
        </button>
      </section>
    </div>
    <script type="module" th:inline="javascript">
      import { PublicClientApplication } from "https://cdn.jsdelivr.net/npm/@azure/msal-browser@4.13.1/+esm";

      let response;

      const msalConfig = {
        auth: {
          clientId: "4aa95498-a8b7-4227-89f0-463eb90015a7",
          authority:
            "https://login.microsoftonline.com/40fe86af-6ef5-4f98-afac-d84bc53212dd",
          redirectUri: "http://localhost:8080/login/oauth2/code/azure/",
        },
      };
      const loginRequest = {
        scopes: ["api://4aa95498-a8b7-4227-89f0-463eb90015a7/access_as_user"],
      };

      const msalInstance = new PublicClientApplication(msalConfig);

      await msalInstance.initialize();

      async function signIn() {
        try {
          response = await msalInstance.loginPopup(loginRequest);
          console.log("Login successful:", response);
          return response;
        } catch (error) {
          console.error("Login failed:", error);
        }
      }

      async function refreshToken() {
        try {
          const accounts = msalInstance.getAllAccounts();
          if (accounts.length === 0) {
            console.log("No accounts found, signing in...");
            await signIn();
            return;
          }
          response = await msalInstance.acquireTokenSilent({
            ...loginRequest,
            account: accounts[0],
          });
          console.log("Token refreshed:", response);

          return response;
        } catch (error) {
          console.warn(
            "Silent token acquisition failed, falling back to interactive login.",
            error
          );
          return signIn();
        }
      }

      // Dealy htmx request until the auth promise has resolved
      // @see https://htmx.org/examples/async-auth/
      document.body.addEventListener("htmx:confirm", (e) => {
        // if there is no auth token
        if (response == null) {
          // stop the regular request from being issued
          e.preventDefault();
          // only issue it once the auth promise has resolved
          refreshToken().then(() => e.detail.issueRequest());
        }
      });

      // add the auth token to the request as a header
      document.body.addEventListener("htmx:configRequest", (e) => {
        e.detail.headers["Authorization"] = `Bearer ${response.accessToken}`;
      });
      await refreshToken();
    </script>
  </body>
</html>
